body {
    font-family: 'Times New Roman', Times, serif;
    background-image: url(bgRay.jpg);
}

h1, h2{
    color: rgba(11, 156, 240, 0.719);
    text-decoration: underline;

    /*12_border*/
    text-align: center;
    border-style: outset;
    /*12_border*/
}

/*
p.p1, p.p2, p.p3 {
    padding: 5px;

    border-color: rgb(238, 106, 58);
    border-width: 2px;
    border-style: solid;

    margin: 10px;
    margin-top: 2px;
    margin-left: 10px;

    background-color: bisque;
}
*/

#p2homepage {
    margin-left: 300px;
    background-image: url(bgRay.jpg);
}

p {
    padding: 5px;

    border-color: rgb(238, 106, 58);
    border-width: 2px;
    border-style: solid;

    margin: 10px;
    margin-top: 2px;
    margin-left: 10px;

    background-image: url(bgRay.jpg);

    /*12_border*/
    border-radius: 10px 30px 0px 500px;
    border-bottom-style: dotted;
    border-bottom-color: red;
    border-bottom-width: 10px;
    /*12_border*/
}